<!doctype html>
<html>
  <head>
    <title>FakeCord | DM</title>
    <link rel="icon" href="static/assets/fakecord.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/text.css">
    <link rel="stylesheet" href="static/elements.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  </head>
  <body>
    <div class="guildContainer">
      <button class="guild" onclick="location.href='/'">
        <img class="guildIcon" src="static/assets/fakecord.png">
      </button>
      {% for guild in data['guilds'] %}
        <button class="guild" onclick="location.href='/guilds/{{guild['id']}}'">
          <img class="guildIcon" src="/uploads/icons/{{guild['id']}}/{{guild['icon']}}">
        </button>
      {% endfor %}
    </div>
    <div class="channelContainer">
      <button class="submit refreshButton" onclick="location.href='/refresh'">Refresh</button>
      <button class="submit refreshButton" onclick="location.href='/relationships'">Friends</button> 
      <button class="submit refreshButton" style="margin-bottom: 1vh;" onclick="location.href='/settings'">Settings</button> 
      <div class="subheading" style="position: relative; left: 1vh; margin-bottom: 1vh;">Direct Messages</div>
      {% for channel in data['channels'] %}
        <button class="dm" onclick="location.href='{{channel['id']}}'">
          <div class="dmIcon">
            <img class="dmProfile" src="/uploads/avatars/{{channel['icon'][0]}}/{{channel['icon'][1]}}">
          </div>
          &nbsp;&nbsp;
          {% if channel['name'] is none %}
            {{channel['name']}}
          {% else %}
            {% if channel['name']|length > 12 %}
              {{channel['name'][:12]}}...
            {% else %}
              {{channel['name']}}
            {% endif %}
          {% endif %}
        </button>
      {% endfor %}
    </div>
    <div class="messagesContainer">
      <div class="messages" id="messages">
        {% for message in data['history'] %}
          <div class="message">
            <div class="profileContainer">
              <img class="profile" src="/uploads/avatars/{{message['author']['id']}}/{{message['author']['avatar']}}">
            </div>
            <div class="subheading messageAuthor">
              {{message['author']['username']}}
              {% if message['author']['bot'] == true %}
                <div class="botTag">Bot</div>
              {% endif %}
            </div>
            {% if message['content'] == '' %}
              {% if message['attachments']|length > 0 %}
                {% for attachment in message['attachments'] %}
                  <img class="attachment" src="/uploads/attachments?url={{attachment['url']}}">
                {% endfor %}
              {% else %}
                {% if message['embeds']|length > 0 %}
                  {% for embed in message['embeds'] %}
                    {% if 'color' in message['embeds'][0] %}
                      <div class="embed" style="border-color: #{{'%0x' % embed['color']}}">
                    {% else %}
                      <div class="embed">
                    {% endif %}
                      {% if 'title' in embed %}
                        <div class="embedTitle">{{embed['title']}}</div>
                      {% endif %}
                      {% if 'description' in embed %}
                        <pre class="embedDescription">{{embed['description']}}</pre>
                      {% endif %}
                      </div>
                  {% endfor %}
                {% else %}
                  <div class="messageContent"><b>Message type unsupported!</b></div>
                {% endif %}
              {% endif %}
            {% else %}
              <pre class="messageContent">{{message['content']}}</pre>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <script>
        var e = document.getElementById("messages");
        e.scrollTop = e.scrollHeight;
      </script>
      <form action="/message/{{data['id']}}" method="POST">
        <input class="container messageBar" type="text" name="message" autocorrect="false" autocomplete="off">
        <input class="hidden" type="submit">
      </form>
    </div>
  </body>
</html>
