<!doctype html>
<html>
  <head>
    <title>FakeCord | {{data['guild']['name']}} | Threads</title>
    <link rel="icon" href="static/assets/fakecord.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/text.css">
    <link rel="stylesheet" href="/static/elements.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  </head>
  <body>
    <div class="guildContainer">
      <button class="guild" onclick="location.href='/'">
        <img class="guildIcon" src="/static/assets/fakecord.png">
      </button>
      {% for guild in data['guilds'] %}
        {% if guild['id'] == data['guild']['id'] %}
          <button class="guild" style="background: #404040;" onclick="location.href='/guilds/{{guild['id']}}'">
        {% else %}
          <button class="guild" onclick="location.href='/guilds/{{guild['id']}}'">
        {% endif %}
          <img class="guildIcon" src="/uploads/icons/{{guild['id']}}/{{guild['icon']}}">
        </button>
      {% endfor %}
    </div>
    <div class="channelContainer">
      <button class="submit refreshButton" style="margin-bottom: 1vh;" onclick="location.href='/refresh/{{data['guild']['id']}}'">Refresh</button>
      <div class="subheading" style="position: relative; left: 1vh; font-size: 2vh; display: block;">
        {% if data['guild']['name']|length > 10 %}
          {{data['guild']['name'][:10]}}...
        {% else %}
          {{data['guild']['name']}}
        {% endif %}
      </div>
      {% for channel in data['channels'] %}
        {% if channel['type'] != 4 %}
          {% if channel['id'] == data['id'] %}
            <button class="dm" style="background: #6b6b6b;" onclick="location.href='/guilds/{{data['guild']['id']}}/{{channel['id']}}'">
          {% else %}
            <button class="dm" onclick="location.href='/guilds/{{data['guild']['id']}}/{{channel['id']}}'">
          {% endif %}
            &nbsp;&nbsp;
            {% if channel['type'] == 0 %}
              💬
            {% elif channel['type'] == 5 %}
              📢
            {% elif channel['type'] == 2 %}
              🔊
            {% elif channel['type'] == 15 %}
              📜
            {% elif channel['type'] == 13 %}
              🎤
            {% endif %}
            {% if channel['name'] is none %}
              {{channel['name']}}
            {% else %}
              {% if channel['name']|length > 12 %}
                {{channel['name'][:12]}}...
              {% else %}
                {{channel['name']}}
              {% endif %}
            {% endif %}
          </button>
        {% endif %}
      {% endfor %}
    </div>
    <div class="messagesContainer guildMessageContainer" style="overflow-y: auto; overflow-x: hidden; padding: 1vh; box-sizing: border-box;">
      {% for thread in data['threads'] %}
        <button class="thread" onclick="location.href='/guilds/{{data['guild']['id']}}/{{data['id']}}/{{thread['id']}}'">
          <div class="subheading">{{thread['title']}}</div>
          {% if thread['op'] != none %}
            <div class="threadAuthor" style="position: relative; left: 2vh;">{{thread['op']}}</div>
            <div class="threadAuthorContainer">
              <img class="threadAuthorProfile" src="/uploads/avatars/{{thread['avatar'][0]}}/{{thread['avatar'][1]}}">
            </div>
            <div class="threadAuthor" style="position: relative; top: -1.5vh;">{{thread['messages']}} messages</div>
          {% else %}
            <div class="threadAuthor">{{thread['op']}}</div>
            <div class="threadAuthor">{{thread['messages']}} messages</div>
          {% endif %}
        </button>
      {% endfor %}
    </div>
    <div class="guildMembers">
    </div>
  </body>
</html>
