<!doctype html>
<html>
  <head>
    <title>FakeCord | Settings</title>
    <link rel="icon" href="static/assets/fakecord.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/text.css">
    <link rel="stylesheet" href="static/elements.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  </head>
  <body>
    <div class="guildContainer">
      <button class="guild" onclick="location.href='/'">
        <img class="guildIcon" src="static/assets/fakecord.png">
      </button>
      {% for guild in data['guilds'] %}
        <button class="guild" onclick="location.href='/guilds/{{guild['id']}}'">
          <img class="guildIcon" src="/uploads/icons/{{guild['id']}}/{{guild['icon']}}">
        </button>
      {% endfor %}
    </div>
    <div class="channelContainer">
      <button class="submit refreshButton" onclick="location.href='/refresh'">Refresh</button>
      <button class="submit refreshButton" onclick="location.href='/relationships'">Friends</button> 
      <button class="submit refreshButton" style="margin-bottom: 1vh;" onclick="location.href='/settings'">Settings</button> 
      <div class="subheading" style="position: relative; left: 1vh; margin-bottom: 1vh;">Direct Messages</div>
      {% for channel in data['channels'] %}
        <button class="dm" onclick="location.href='{{channel['id']}}'">
          <div class="dmIcon">
            <img class="dmProfile" src="/uploads/avatars/{{channel['icon'][0]}}/{{channel['icon'][1]}}">
          </div>
          &nbsp;&nbsp;
          {% if channel['name'] is none %}
            {{channel['name']}}
          {% else %}
            {% if channel['name']|length > 10 %}
              {{channel['name'][:10]}}...
            {% else %}
              {{channel['name']}}
            {% endif %}
          {% endif %}
        </button>
      {% endfor %}
    </div>
    <div class="messagesContainer">
      <div class="topnav">
        <a class="navLinked" href="/settings">Settings</a>
        <a class="navLinked" href="/about">About</a>
        <a class="navLinked" href="/updates">Updates</a>
      </div>
      <div class="settingsContainer">
        <div class="subheading blue" style="font-size: 2.5vh; display: block; margin-bottom: 1vh">Update Log</div>
        <div class="subheading blue gradientBlue">12/16/22</div>
        <div class="version blue">1.9.5</div>
        <div class="text">
          Images now load regardless of whether or not discord.com is blocked! This is done by quering every single discord image and then loading it from the server and returning it to the client through the server instead of discord.com. However, this increases the time it takes for images to load
        </div>
        <div class="subheading blue">12/12/22</div>
        <div class="version blue">1.7.5</div>
        <div class="text">
          Embeds support (only title, color, and description)! Login page bug fix, about page, updates page, logout button
        </div>
        <div class="subheading blue">12/11/22</div>
        <div class="version blue">1.6.0</div>
        <div class="text">
          Added support for relationships, guild threads, messaging in guild threads, settings
        </div>
        <div class="subheading blue">12/10/22</div>
        <div class="version blue">1.3.0</div>
        <div class="text">
          Added support for guilds, guild channels, and messaging in guild channels
        </div>
        <div class="subheading blue">12/9/22</div>
        <div class="version blue">1.1.0</div>
        <div class="text">
          Added support for messaging in channels
        </div>
        <div class="subheading blue">12/8/2 Release</div>
        <div class="version blue">1.0.0</div>
        <div class="text">
          FakeCord is released with basic features such as viewing of channels and guilds. However you cannot send messages or click on guilds yet, you can only view channel history.
        </div>
      </div>
    </div>
  </body>
</html>
